@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scale {
  to {
    -webkit-transform: scaleX(2) scaleY(2);
            transform: scaleX(2) scaleY(2);
  }
}

@keyframes scale {
  to {
    -webkit-transform: scaleX(2) scaleY(2);
            transform: scaleX(2) scaleY(2);
  }
}

.loader-bg {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  border: 15px solid #f3f3f3;
  border-radius: 35%;
  border-top: 16px solid #9356DC;
  border-bottom: 16px solid #99E2D0;
  border-right: 16px solid #FF79DA;
  width: 75px;
  height: 75px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.scale {
  -webkit-animation: scale 4s infinite linear;
          animation: scale 4s infinite linear;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.container {
  padding: 0px 20px 0px 20px;
  max-width: 500px;
  margin: auto;
}

.container-1 {
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.bg-grey-5 {
  background-color: #f6f6f6;
  position: relative;
}

.border-radius-top {
  border-radius: 40px 40px 0 0;
}

.mt-n3 {
  margin-top: -30px;
}

.title-B {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin: 16px 0px -10px 4px;
}

.entrees {
  padding-bottom: 6px;
  padding-left: 4px;
  padding-top: 24px;
}

.underline {
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  position: absolute;
  border-radius: 20%;
  margin-left: 4px;
}

.underline__1 {
  top: 125px;
}

.underline__2 {
  top: 440px;
}

.underline__3 {
  top: 755px;
}

.underline__2e {
  top: 524px;
}

.underline__3e {
  top: 838px;
}

.bg-grey {
  background-color: #eaeaea;
  padding: 15px 0px 16px 0px;
  -webkit-box-shadow: inset 0px 13px 2px -10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 13px 2px -10px rgba(0, 0, 0, 0.1);
}

.bg-grey-2 {
  background-color: #f6f6f6;
  margin-bottom: 45px;
  padding: 33px 0px 70px 0px;
}

.py {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.title-1 {
  font-size: 24px;
}

.bg-grey-3 {
  background-color: #f6f6f6;
  padding-top: 52px;
  padding-bottom: 41px;
}

.title-r {
  padding-bottom: 23px;
}

.title-r .title-r--size {
  font-size: 24px;
}

.pointer {
  cursor: pointer;
}

.bg-grey-4 {
  background-color: #353535;
  padding-top: 1px;
  padding-bottom: 42px;
}

.icon-1 {
  padding-right: 13px;
}

.icon-2 {
  padding-right: 10px;
}

.back-arrow {
  text-decoration: inherit;
  color: inherit;
}

.order-btn {
  padding: 15px 73px !important;
}

.mg-bt {
  margin-bottom: 64px !important;
}

.margin {
  margin-bottom: 81px;
}

.nav {
  display: inline;
  width: 100%;
  text-align: center;
}

.nav .nav__icon {
  position: absolute;
  top: 25px;
  left: 25px;
}

.nav .nav__logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  margin: 14px 0px 5px 0px;
}

.nav .nav__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .nav__location .nav__location-icon {
  padding: 0px 0px 0px 0px;
  margin: 0px 15px 0px -40px;
}

.nav .nav__location .nav__location-text {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.choice-list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 9px;
}

.choice-list-group .choice-list-group__item {
  position: relative;
  padding: 28px 20px;
  -webkit-box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: #f6f6f6;
}

.choice-list-group .choice-list-group__item.choice-list-group__item--highlight {
  background-color: #f5edff;
}

.choice-list-group .choice-list-group__item.choice-list-group__item--highlight .choice-list-group__number {
  background-color: #9356DC;
  border-radius: 50%;
}

.choice-list-group .choice-list-group__item.choice-list-group__item--highlight .choice-list-group__icon {
  color: #9356DC;
  padding: 0px 20px;
}

.choice-list-group .choice-list-group__number {
  background-color: #9356DC;
  padding: 3px 8px;
  color: white;
  position: absolute;
  left: -10px;
  border-radius: 50%;
}

.choice-list-group .choice-list-group__icon {
  color: #7e7e7e;
  padding: 0 20px;
}

.menu-explorer {
  text-align: center;
}

.menu-explorer .menu-explorer__title {
  margin-left: -15px;
  padding-bottom: 18px;
  margin-top: 5px;
}

.menu-explorer .menu-explorer__text {
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 45px;
  font-size: 19px;
}

.menu-explorer .menu-explorer__btn {
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 14px 26px;
  font-size: 17px;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
}

.menu-explorer__btn:hover {
  -webkit-box-shadow: 6px 7px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 6px 7px 8px 0 rgba(0, 0, 0, 0.3);
}

.card {
  background-color: white;
  margin-right: 10px;
  border-radius: 20px;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  position: relative;
}

.card .card__img {
  height: 173px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card__tag {
  position: absolute;
  color: green;
  padding: 6px 25px;
  border-radius: 2px;
  background-color: #99E2D0;
  right: 15px;
  top: 15px;
  font-size: 14px;
}

.card .card__body {
  padding: 10px 0px 0px 12px;
}

.card .card__body .card-link {
  color: inherit;
  text-decoration: inherit;
}

.card .card__body .card__title {
  font-size: 18px;
  margin: 0px;
  cursor: pointer;
}

.card .card__body .card__passage {
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
  margin: 0px;
}

.heart {
  position: absolute;
  right: 24px;
  bottom: 29px;
  font-size: 18px;
}

.heart .heart__input {
  display: none;
}

.heart .heart__input:checked + .heart__label {
  background: linear-gradient(200deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 1px;
}

.heart .heart__input:checked + .heart__label .heart__icon-inactive {
  display: none;
}

.heart .heart__input:checked + .heart__label .heart__icon-active {
  display: inline;
  opacity: 1;
}

.heart__icon-active {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  color: transparent;
  width: 0;
}

.heart-p {
  right: 39px;
  top: 39px;
}

.footer {
  color: white;
  padding-left: 25px;
}

.footer .footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  padding-bottom: 0px;
}

.footer .footer__p {
  margin-bottom: -8px;
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.header-image-bastille {
  background-image: url("../Projet-3-ohmyfood-EN/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  height: 250px;
}

.header-image-enchanted {
  background-image: url("../Projet-3-ohmyfood-EN/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  height: 250px;
}

.header-image-fullplate {
  background-image: url("../Projet-3-ohmyfood-EN/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  height: 250px;
}

.header-image-gourmand {
  background-image: url("../Projet-3-ohmyfood-EN/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  height: 250px;
}

.menu-item {
  background: white;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.menu-item .menu-item__body {
  width: 100%;
  padding: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-item .menu-item__body .menu-item__heading {
  font-size: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-item .menu-item__body .menu-item__content {
  margin: 4px 23px -4px 1px;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-item .checkmark-bg {
  width: 0px;
  background: #99E2D0;
  -webkit-transition: width 1s;
  transition: width 1s;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item .checkmark-icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  color: white;
}

.menu-item__heading {
  margin: 0;
}

.menu-item .menu-item__price {
  position: relative;
  right: 22px;
  top: 38px;
}

.menu-item:hover .checkmark-bg {
  width: 75px;
}

.menu-item:hover .checkmark-icon {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

@-webkit-keyframes menu-fade {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-fade {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
  }
  to {
    opacity: 1;
  }
}

.menu-item {
  -webkit-animation-name: menu-fade;
          animation-name: menu-fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.menu-item-1 {
  -webkit-animation-delay: 0.0s;
          animation-delay: 0.0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.menu-item-2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.menu-item-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.menu-item-4 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}
/*# sourceMappingURL=main.css.map */