.choice-list-group {
	display: flex;
	flex-direction: column;
    margin-left: 9px;
	
	.choice-list-group__item {
		position: relative;
		padding: 28px 20px;
		box-shadow: 0 4px 9px 0 rgba(0,0,0,0.2);
        margin-bottom: 20px;
        border-radius: 25px;
        background-color: rgb(246,246,246);
		
		&.choice-list-group__item--highlight {
			background-color: rgb(245,237,255);
			
			.choice-list-group__number {
				background-color: $color-primary;
                border-radius: 50%;
			}
            .choice-list-group__icon{
                color: $color-primary;
				padding: 0px 20px;
            }
		}
	}
	.choice-list-group__number {
		background-color: $color-primary;
		padding: 3px 8px;
		color: white;
		position: absolute;
		left: -10px;
        border-radius: 50%;
	}
    .choice-list-group__icon{
        color: rgb(126, 126, 126);
        padding: 0 20px;
    }
}
