.footer{
    color: white;
    padding-left: 25px;

    .footer__title{
        font-family: $font-titles;
        font-size: 18px;
        padding-bottom: 0px;
    }

    .footer__p{
        margin-bottom: -8px;

    }
}

.link{
    text-decoration: none;
    color: inherit;
}




