.menu-explorer{
    padding-top: 17px;
    padding-bottom: 53px;
    text-align: center;

    .menu-explorer__title{
        margin-left: -15px;
        padding-bottom: 18px;
    }
    .menu-explorer__text{
        padding-left: 10px;
        padding-right: 0px;
        font-size: 18px;

    }
}
