@import"variables";
.nav{
  display: inline;
  width: 100%;
  text-align: center;

  .nav__icon{
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .nav__logo{
      font-family: $font-titles;
      font-size: 30px;
      margin: 14px 0px 5px 0px;
  }
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  .container {
    max-width: 500px;
    padding: 15px;
      margin: auto;
  }
  .header-image {
    background-image: url('../Projet-3-ohmyfood-EN/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
      background-size: cover;
    height: 250px;
  }

  .title{
    font-family: $font-titles;
    font-size: 27px;
    margin: 16px 0px 30px 0px;
  }

  .heart{
    position: absolute;
    right: 39px;
    top: 39px;
    font-size: 18px;
    .heart__input{
        display: none;
        
        &:checked + .heart__label {
            background: linear-gradient(200deg, $color-primary, $color-secondary);
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            padding: 1px;

            .heart__icon-inactive{
                display: none;
            }

            .heart__icon-active{
                display: inline;
            }
        }
    }    
    .heart__icon-active{
        display: none;
    }
  }
  
  .bg-grey {
    background-color: rgb(246, 246, 246);
    position: relative;
  }
  
  .border-radius {
    &-top {
      border-radius: 30px 30px 0 0;
    }
  }
  
  .mt-n3 {
    margin-top: -50px;
  }

  .entrees{
    padding-bottom: 6px;
  }

  .underline{
    background-color: $color-tertiary;
    height: 3px;
    width: 40px;
    position: absolute;
    top: 125px;
    border-radius: 20%;
  }
  
  .menu-item {
    background: white;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;

    .menu-item__heading{
      margin: -3px 0px 0px 0px;
    }

    .menu-item__body{
      margin: 4px 0px -4px 0px;
    }    

    .checkmark-bg{
      width: 1px;
      height: 67px;
      background: $color-tertiary;
      transition: width 2s;
      position: absolute;
      right: 0px;
      top: -1px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }

    .checkmark-bg:hover {
      width: 60px;
    }

    .checkmaek-icon{
      position: absolute;
      right: 0px;
      top: 25px;
      width: 15pxpx;
      transform: rotate(0deg);
      transition: transform 1000ms;
      color: white;
    }

    .checkmaek-icon:hover {
      transform: rotate(360deg);
      position: absolute;
      right: 20px;
      
    }

    &__heading {
      margin: 0;
    }
    
    &__body {
      display: flex;
      justify-content: space-between;
      position: relative;
    }
  }